.comment-wrapper{
    border: 2px solid white;
    border-radius: 5px;
    margin: 5px 0;
}

.comment-author-image{
    background-color: white;
    width: 15px;
    height: 15px;
    border-radius: 8px;
    margin: 0 5px;
}

.comment-author-name{
    color: white;
}

.comment-author{
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}