.logo{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #651fff;
}

.logo-text{
    padding: 0 10px;
    color: white;
}

.logo-img{
    width: 30px;
    height: 30px;
    background-image: url('/logo.png');
    background-size: cover;
}