.login-form{
    width: 400px;
    background-color: white;
    border-radius: 10px;
    padding: 15px;
}

.input-login{
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    outline: none;
}

.button-login{
    width: 100%;
    background-color: #651fff;
    color: white;
    padding: 15px;
    border: 0;
    outline: 0;
    cursor: pointer;
}

.login-image{
    background-image: url('/logo.png');
    width: 50px;
    height: 50px;
    background-size: contain;
    margin: 10px 0;
}

.login-logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-form h5{
    padding-top: 10px;
}

.login-form > h5 > button{
    background: transparent;
    border: none;
    outline: 0;
    color: blue;
    cursor: pointer;
}

.register-input{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.register-image{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: 70px;
    height: 70px;
    background-color: #bdbdbd;
    cursor: pointer;
    transition: 1s;
    margin: 5px 0;
}

.register-image:hover{
    background-color: #9e9e9e;
}

#image-input{
    display: none;
}