.post-wrapper{
    display: flex;
    justify-content: center;
}

.post{
    width: 80%;
    max-width: 780px;
    border-radius: 10px;
    border: 2px solid white;
    padding: 5px;
}

.description, .author{
    color: white;
}

.image{
    width: 100%;
    height: 500px;
}