.login-wrapper{
    background-image: url('/spaceLogin.png');
    min-height: 100vh;
    background-size: cover;
    background-attachment: fixed;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}